@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

:root {
  --primary: #f2c94c;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.navig {
  background-color: var(--primary);
  /*padding: 2rem;*/
}

.navig div {
  text-align: center;
  padding: 2rem;
  font-size: large;
}

.main-area {
  /* position: absolute; */
  display: flex;
  max-width: 600px;
  margin: auto;
  flex-direction: column;
  align-items: center;
 
  /* background-color: green; */
}

textarea {
  margin: 2rem 0rem 1rem;
  width: 65%;
  min-height: 20vh;
  text-align: center;
  padding-top: 20px;
}

button {
  cursor: pointer;
  background-color: var(--primary);
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.2rem;
}

#output{
    margin: 1rem;
    width: 65%;
    min-height: 20vh;
    border: 2px solid rgb(61, 59, 59);
    text-align: center;
    padding-top: 20px;
}

footer {
  background-color: var(--primary);
  /* position: absolute; */
  
  bottom: 0px;
  width: 100%;
}

footer div {
  padding-top: 1rem;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

footer p {
  width: 40%;
  text-align: center;
  margin: auto;
  padding: 0.5rem;
}

.wallpaper{
  /* background-color: red; */
  /* border: 2px solid black; */
  /* width: 100%; */
  z-index: 1;
  height: 512px;
  position: absolute;
  /* display: flex; */

}

.wallpaper .row1{
  padding-left: 150px;
  width: 50%;
  display: block;
  /* background-color: blue; */
  
}

.wallpaper .row2 img{
  padding-top: 110px;
  padding-left: 190px;
  /* background-color:yellow; */

}